<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Dashboard | RMS{% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="BWR Developer Sumit Pal">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='assets/img/apple-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/simplebar/simplebar.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/flatpickr/flatpickr.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/daterangepicker/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/select2/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" id="app-style">
</head>
<body>
 <!-- Start Main Wrapper -->
    <div class="main-wrapper">
        {% if session.user_id %}
        <header class="navbar-header">
            <div class="page-container topbar-menu">
                <div class="d-flex align-items-center gap-2">
                    <!-- Sidebar Mobile Button -->
                    <a id="mobile_btn" class="mobile-btn" href="#sidebar">
                        <i class="ti ti-menu-deep fs-24"></i>
                    </a>

                    <!-- Logo -->
                    <a href="{{ url_for('dashboard.index') }}" class="logo">

                        <!-- Logo Normal -->
                        <span class="logo-light">
                            <span class="logo-lg"><img src="{{ url_for('static', filename='assets/img/logo.svg') }}" alt="logo"></span>
                        </span>

                        <!-- Logo Dark -->
                        <span class="logo-dark">
                            <span class="logo-lg"><img src="{{ url_for('static', filename='assets/img/logo-dark.svg') }}" alt="dark logo"></span>
                        </span>

                        <!-- Logo Sm -->
                        <span class="logo-small">
                            <span class="logo-lg"><img src="{{ url_for('static', filename='assets/img/logo-small.svg') }}" alt="small logo"></span>
                        </span>

                    </a>

                    <button class="sidenav-toggle-btn btn border-0 p-0 active" id="toggle_btn2">
                        <i class="ti ti-arrow-bar-to-right"></i>
                    </button>

                    <!-- Search -->
                    <div class="me-auto d-flex align-items-center header-search d-lg-flex d-none">
                        <!-- Search -->
                        <div class="input-icon position-relative me-2">
                            <input type="text" class="form-control" placeholder="Search Keyword">
                            <span class="input-icon-addon d-inline-flex p-0 header-search-icon"><i class="ti ti-command"></i></span>
                        </div>
                        <!-- /Search -->
                    </div>

                </div>

                <div class="d-flex align-items-center">

                    <!-- Search -->
                    <div class="me-auto d-flex align-items-center header-search d-lg-none d-sm-flex d-none">

                        <div class="input-icon position-relative me-2">
                            <input type="text" class="form-control" placeholder="Search Keyword">
                            <span class="input-icon-addon d-inline-flex p-0 header-search-icon"><i class="ti ti-command"></i></span>
                        </div>
                    </div>
                    <!-- /Search -->
                    <!-- User Dropdown -->
                    <div class="header-item dropdown profile-dropdown d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0);" class="topbar-link dropdown-toggle drop-arrow-none position-relative" data-bs-toggle="dropdown" data-bs-offset="0,22" aria-haspopup="false" aria-expanded="false">
                            <img src="{{ url_for('static', filename='assets/img/avatars/avatar-31.jpg') }}" width="32" class="rounded-2 d-flex" alt="patient">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-md p-2">

                            <div class="d-flex align-items-center bg-light rounded p-2 mb-2">
                                <img src="{{ url_for('static', filename='assets/img/avatars/avatar-31.jpg') }}" class="rounded-circle" width="42" height="42" alt="patient">
                                <div class="ms-2">
                                    <p class="fw-medium text-dark mb-0">{{ session.user_name }}</p>
                                    <span class="d-block fs-13">{{ session.department }}</span>
                                </div>
                            </div>

                       
                            <!-- Item-->
                            <div class="pt-2 mt-2 border-top">
                                <a href="{{ url_for('auth.logout') }}" class="dropdown-item text-danger">
                                    <i class="ti ti-logout me-1 fs-17 align-middle"></i>
                                    <span class="align-middle">Sign Out</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </header>
      
        <div class="sidebar" id="sidebar">

            <div class="sidebar-logo">
                <div>
                    <a href="{{ url_for('dashboard.index') }}" class="logo logo-normal">
                        <img src="{{ url_for('static', filename='assets/img/logo.svg') }}" alt="Logo">
                    </a>

                    <a href="{{ url_for('dashboard.index') }}" class="logo-small">
                        <img src="{{ url_for('static', filename='assets/img/logo-small.svg') }}" alt="Logo">
                    </a>

                    <a href="{{ url_for('dashboard.index') }}" class="dark-logo">
                        <img src="{{ url_for('static', filename='assets/img/logo-dark.svg') }}" alt="Logo">
                    </a>
                </div>
                <button class="sidenav-toggle-btn btn border-0 p-0 active" id="toggle_btn">
                    <i class="ti ti-arrow-bar-to-left"></i>
                </button>

                <button class="sidebar-close">
                    <i class="ti ti-x align-middle"></i>
                </button>
            </div>
            <div class="sidebar-inner" data-simplebar>
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul role="menu" aria-label="Main navigation menu">
                        <li class="menu-title" aria-disabled="true"><span>MAIN</span></li>

                        <li class="{% if request.endpoint == 'dashboard.index' %}active{% endif %}">
                            <a href="{{ url_for('dashboard.index') }}" class="{% if request.endpoint == 'dashboard.index' %}active{% endif %}">
                                <i class="ti ti-dashboard"></i><span>Dashboard</span>
                            </a>
                        </li>

                        <li class="{% if request.endpoint == 'task.index' %}active{% endif %}">
                            <a href="{{ url_for('task.index') }}" class="{% if request.endpoint == 'task.index' %}active{% endif %}">
                                <i class="ti ti-layout-board"></i><span>My Tasks</span>
                            </a>
                        </li>

                        <li class="menu-title" aria-disabled="true"><span>ACCOUNT</span></li>
                        
                        {% if session.role == 'admin' %}
                        <li class="menu-title" aria-disabled="true"><span>ADMIN</span></li>
                        
                        <li class="{% if request.endpoint == 'dashboard.users' %}active{% endif %}">
                            <a href="{{ url_for('dashboard.users') }}" class="{% if request.endpoint == 'dashboard.users' %}active{% endif %}">
                                <i class="ti ti-users"></i><span>User Management</span>
                            </a>
                        </li>
                        
                        <li class="{% if request.endpoint == 'auth.register' %}active{% endif %}">
                            <a href="{{ url_for('auth.register') }}" class="{% if request.endpoint == 'auth.register' %}active{% endif %}">
                                <i class="ti ti-user-plus"></i><span>Register User</span>
                            </a>
                        </li>
                        {% endif %}
                        
                        <li>
                            <a href="javascript:void(0);" style="cursor: default;">
                                <i class="ti ti-user"></i><span>{{ session.user_name }}</span>
                            </a>
                        </li>
                        
                        <li>
                            <a href="{{ url_for('auth.logout') }}" class="text-danger">
                                <i class="ti ti-logout"></i><span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        {% endif %}
        <!-- Main Content -->
        <div class="page-wrapper">
            <!-- Start Content -->
            <div class="content">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                    {% endfor %}
                {% endwith %}

                {% block content %}{% endblock %}
            </div>
            <!-- End Content -->
            <!-- Start Footer -->
            <footer class="footer text-center">
                <div class="page-container">
                    <p class="mb-0 text-dark">
                        <script>document.write(new Date().getFullYear())</script> 
                        &copy; <a href="javascript:void(0);" class="link-primary">Dreams EMR</a> - All Rights Reserved.
                    </p>
                </div>
            </footer>
            <!-- End Footer -->
        </div>
    </div>

    <script src="{{ url_for('static', filename='assets/js/theme-script.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/simplebar/simplebar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/apexchart/apexcharts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/apexchart/chart-data.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>

    {% block scripts %}{% endblock %}

</body>
</html>
